:root {
    --itchio_ui_bg: #2a302b;
    --itchio_ui_bg_dark: #242a25
}

.wrapper {
    --itchio_font_family: '04b_03';
    --itchio_bg_color: #09280f;
    --itchio_bg2_color: rgba(12, 33, 11, 1);
    --itchio_bg2_sub: #233822;
    --itchio_text_color: #02ff77;
    --itchio_link_color: #d400b1;
    --itchio_border_color: #265424;
    --itchio_button_color: #d400b1;
    --itchio_button_fg_color: #ffffff;
    --itchio_button_shadow_color: #ed19ca;
    background-color: #09280f;
    /*! */
    background-image: url(https://img.itch.zone/aW1nLzI1ODUwMjE5LnBuZw==/original/Gbn3z7.png);
    ;background-repeat: repeat-x;
    background-position: 50% 0;
    background-attachment: fixed;
    /* */
}

.inner_column {
    color: #02ff77;
    font-family: '04b_03',Lato,LatoExtended,sans-serif;
    background-color: rgba(12, 33, 11, 1)
}

.inner_column ::selection {
    color: #ffffff;
    background: #d400b1
}

.inner_column ::-moz-selection {
    color: #ffffff;
    background: #d400b1
}

.inner_column h1,.inner_column h2,.inner_column h3,.inner_column h4,.inner_column h5,.inner_column h6 {
    font-family: inherit;
    font-weight: bold;
    color: inherit
}

.inner_column a,.inner_column .footer a {
    color: #d400b1
}

.inner_column .button,.inner_column .button:hover,.inner_column .button:active {
    background-color: #d400b1;
    color: #ffffff;
    text-shadow: 0 1px 0px #ed19ca
}

.inner_column hr {
    background-color: #265424
}

.inner_column table {
    border-color: #265424
}

.inner_column .redactor-box .redactor-toolbar li a {
    color: #d400b1
}

.inner_column .redactor-box .redactor-toolbar li a:hover,.inner_column .redactor-box .redactor-toolbar li a:active,.inner_column .redactor-box .redactor-toolbar li a.redactor-act {
    background-color: #d400b1 !important;
    color: #ffffff !important;
    text-shadow: 0 1px 0px #ed19ca !important
}

.inner_column .redactor-box .redactor-toolbar .re-button-tooltip {
    text-shadow: none
}

.game_frame {
    background: #233822;
    /*! */
    /* */
}

.game_frame .embed_info {
    background-color: rgba(12, 33, 11, 0.85)
}

.game_loading .loader_bar .loader_bar_slider {
    background-color: #d400b1
}

.view_game_page .reward_row,.view_game_page .bundle_row {
    border-color: #233822 !important
}

.view_game_page .game_info_panel_widget {
    background: rgba(35, 56, 34, 1)
}

.view_game_page .star_value .star_fill {
    color: #d400b1
}

.view_game_page .rewards .quantity_input {
    background: rgba(35, 56, 34, 1);
    border-color: rgba(2, 255, 119, 0.5);
    color: #02ff77
}

.view_game_page .right_col {
    display: block
}

.game_devlog_page li .meta_row .post_likes {
    border-color: #233822
}

.game_devlog_post_page .post_like_button {
    box-shadow: inset 0 0 0 1px #265424
}

.game_comments_widget .community_post .post_footer a,.game_comments_widget .community_post .post_footer .vote_btn,.game_comments_widget .community_post .post_header .post_date a,.game_comments_widget .community_post .post_header .edit_message {
    color: rgba(2, 255, 119, 0.5)
}

.game_comments_widget .community_post .reveal_full_post_btn {
    background: linear-gradient(to bottom, transparent, #0c210b 50%, #0c210b);
    color: #d400b1
}

.game_comments_widget .community_post .post_votes {
    border-color: rgba(2, 255, 119, 0.2)
}

.game_comments_widget .community_post .post_votes .vote_btn:hover {
    background: rgba(2, 255, 119, 0.05)
}

.game_comments_widget .community_post .post_footer .vote_btn {
    border-color: rgba(2, 255, 119, 0.5)
}

.game_comments_widget .community_post .post_footer .vote_btn span {
    color: inherit
}

.game_comments_widget .community_post .post_footer .vote_btn:hover,.game_comments_widget .community_post .post_footer .vote_btn.voted {
    background-color: #d400b1;
    color: #ffffff;
    text-shadow: 0 1px 0px #ed19ca;
    border-color: #d400b1
}

.game_comments_widget .form .redactor-box,.game_comments_widget .form .click_input,.game_comments_widget .form .forms_markdown_input_widget {
    border-color: rgba(2, 255, 119, 0.5);
    background: transparent
}

.game_comments_widget .form .redactor-layer,.game_comments_widget .form .redactor-toolbar,.game_comments_widget .form .click_input,.game_comments_widget .form .forms_markdown_input_widget {
    background: rgba(35, 56, 34, 1)
}

.game_comments_widget .form .forms_markdown_input_widget .markdown_toolbar button {
    color: inherit;
    opacity: 0.6
}

.game_comments_widget .form .forms_markdown_input_widget .markdown_toolbar button:hover,.game_comments_widget .form .forms_markdown_input_widget .markdown_toolbar button:active {
    opacity: 1;
    background-color: #d400b1 !important;
    color: #ffffff !important;
    text-shadow: 0 1px 0px #ed19ca !important
}

.game_comments_widget .form .forms_markdown_input_widget .markdown_toolbar,.game_comments_widget .form .forms_markdown_input_widget li {
    border-color: rgba(2, 255, 119, 0.5)
}

.game_comments_widget .form textarea {
    border-color: rgba(2, 255, 119, 0.5);
    background: rgba(35, 56, 34, 1);
    color: inherit
}

.game_comments_widget .form .redactor-toolbar {
    border-color: rgba(2, 255, 119, 0.5)
}

.game_comments_widget .hint {
    color: rgba(2, 255, 119, 0.5)
}

.game_community_preview_widget .community_topic_row .topic_tag {
    background-color: #233822
}

.footer .svgicon,.view_game_page .more_information_toggle .svgicon {
    fill: #02ff77 !important
}
